/*------------------------------------*\
    $LINKS
\*------------------------------------*/

a {
  text-decoration: none;
  color: $blue;
  path {
    fill: $blue;
  }
  h2,&:hover, &:focus {
    text-decoration: none;
    color: $slate;
  }
  p {
    color: $gray-dark;
  }
}
.article-meta .byline a.open-modals {
  cursor: pointer;
}
.article-meta .byline a.js-open-author-modal-1OFF {
    color: $gray-dark;
    cursor: text;
}
/*
 * Inverted Links
 */
.invert-links {
  .block__headline,
  .li__title,
  a {
    color: $white;
    path {
      fill: $white;
    }
    &:hover,
    &:focus {
      text-decoration: none;
      color: darken($white, 15);
      .block__headline,
      .li__title {
        text-decoration: none;
        color: darken($white, 15);
      }
    }
  }
}
