/*------------------------------------*\
    $WRAPPERS & CONTAINERS
\*------------------------------------*/

/**
 * Layout containers - keep content centered and within a maximum width. Also
 * adjusts left and right padding as the viewport widens.
 */
 .lc {
  max-width: $max-width;
  margin: 0 auto;
  position: relative;
  @include mq($medium-break) {
    padding-left: $pad;
    padding-right: $pad;
  }
  @include mq($large-break) {
    //padding-left: $pad-and-half;
    //padding-right: $pad-and-half;
  }
  @include mq($px1340) {
    padding-left: 0;
    padding-right: 0;
  }
}

/**
 * Wrapping element to keep content contained and centered.
 */
.wrap {
  max-width: $max-width;
  margin: 0 auto;
}

/**
 * Wrapping element to keep content contained and centered at narrower widths.
 */
.narrow {
  max-width: rem(726);
  @include center-block;
  &.narrow--s {
    max-width: rem(600);
  }
  &.narrow--s-m {
    max-width: rem(700);
  }
  &.narrow--m {
    max-width: rem(800);
  }
  &.narrow--l {
    max-width: rem(1000);
  }
  &.narrow--xl {
    max-width: rem(1250);
  }
}


/*------------------------------------*\
    $LAYOUTS
\*------------------------------------*/

/**
 * Fluid left content column with static right rail
 */
.primary {
  width: 100%;
  @include mq($medium-break) {
    float: left;
    margin-right: rem(-$sidebar-width - 50);
  }
  @include mq($large-break) {
    margin-right: rem(-$sidebar-width - 80);
  }
  @include mq($larger-break) {
    margin-right: rem(-$sidebar-width - 100);
  }
}
.primary-inner {
  @include mq($medium-break) {
    padding-bottom: rem(30);
    margin-right: rem($sidebar-width + 50);
  }
  @include mq($large-break) {
    margin-right: rem($sidebar-width + 80);
  }
  @include mq($larger-break) {
    margin-right: rem($sidebar-width + 100);
  }
}
.secondary {
  max-width: rem(650);
  @include center-block;
  @include mq($medium-break) {
    float: right;
    width: rem($sidebar-width);
  }
}


/*------------------------------------*\
    $LAYOUT SHIFTERS
\*------------------------------------*/

/**
 * Shift at 900px
 */
.shift-left--900 {
  width: 100%;
  @include mq($px900) {
    float: left;
    margin-right: rem(-300);
  }
}
.shift-left--inner--900 {
  @include mq($px900) {
    margin-right: rem(330);
  }
}
.shift-right--900 {
  @include mq($px900) {
    float: right;
    width: rem(300);
    position: relative;
    z-index: 1;
  }
}

/**
 * Shift at 700
 */
.shift-left--700 {
 width: 100%;
 @include mq($px700) {
   float: left;
   margin-right: rem(-300);
 }
}
.shift-left--inner--700 {
 @include mq($px700) {
   margin-right: rem(350);
 }
}
.shift-right--700 {
 @include mq($px700) {
   float: right;
   width: rem(300);
 }
}

/**
 * Shift at 1200
 */
.shift-left--1200 {
  width: 100%;
  @include mq($px1200) {
    float: left;
    margin-right: rem(-300);
  }
}
.shift-left--inner--1200 {
  @include mq($px1200) {
    margin-right: rem(330);
  }
}
.shift-right--1200 {
  @include mq($px1200) {
    float: right;
    width: rem(300);
    position: relative;
    z-index: 1;
  }
}


.pad-col--left {
  @include mq($px800) {
    padding-left: rem($col-small-width-first);
  }
}

[id^=atoms-] {
  padding: $pad;
}

.shift-left--450 {
  float:left;
  margin-right:4%;
  width: 46%; 
  max-width:22.5rem;
}
.shift-right--450 {
  float: right;
  position: relative;
  width: 48%;
  z-index: 1;
  max-width:22.5rem;
}

@media (min-width: 0px) and (max-width: 600px) {
  .shift-left--450 {
      width: 100%;
      float:none; 
  }
  .shift-right--450 {
      width: 100%;
      float:none;
  }
}
