/*------------------------------------*\
    $DISPLAY STATES
\*------------------------------------*/

/**
 * Display Classes
 */
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.dt {
  display: table;
}
.dtc {
  display: table-cell;
}
.hide--s {
  @include mq($px800, max) {
    display: none;
  }
}
.hide--m {
  @media all and (min-width: $px800) and (max-width: $px1100) {
    display: none;
  }
}
.hide--l {
  @media all and (min-width: $px1100) and (max-width: $px1200) {
    display: none;
  }
}
.hide--xl {
  @media all and (min-width: $px1200) {
    display: none;
  }
}
.hide--900 {
  @include mq($px900, max) {
    display: none;
  }
}
.only--s {
  @include mq($px600) {
    display: none;
  }
}
.only--s-m {
  @include mq($px800) {
    display: none;
  }
}
// Alt Breaks (for ad swapping)
.break--s {
  display: none;
  @include mq($px759, max) {
    display: block;
  }
}
.break--m {
  display: none;
  @media (min-width: $px760) and (max-width: $px999) {
    display: block;
  }
}
.break--l {
  display: none;
  @include mq($px1000) {
    display: block;
  }
}
// Specific Widths - visible less than #
.vis-lt--900 {
  @include mq($px900) {
    display: none;
  }
}
.vis-lt--650 {
  @include mq($px650) {
    display: none;
  }
}
.vis-lt--800 {
  @include mq($px800) {
    display: none;
  }
}
.vis-lt--900 {
  @include mq($px900) {
    display: none;
  }
}
.vis-lt--1200 {
  @include mq($px1200) {
    display: none;
  }
}
.vis--900-1200 {
  display: none;
  @media (min-width: $px900) and (max-width: $px1200) {
    display: block;
  }
}
// Specific Widths - visible greater than #
.vis-gt--800 {
  @include mq($px800, max) {
    display: none;
  }
}
.vis-gt--900 {
  @include mq($px900, max) {
    display: none;
  }
}
.vis-gt--1200 {
  @include mq($px1200, max) {
    display: none;
  }
}
