/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.header {
  height: rem($small-header-height);
  background-color: $gray-dark;
  padding-top: rem(4);
  position: fixed;
  width: 100%;
  z-index: 50000000; // Appear over ads
  left: 0;
  top: 0;
  box-shadow: 0 0 3px rgba($black, .3);
  &:not(.header--compact) {
    @include mq($px800) {
      height: rem($wide-header-height);
    }
  }
}
.header--inner {
  padding-top: rem(6);
  padding-bottom: rem(6);
  background-color: $gray-dark;
  padding-top: 0;
  padding-bottom: 0;   
  @include mq($px800) {
    position: static;
    .header:not(.header--compact) & {
      padding-top: 0;
      padding-bottom: 0;      
    }
  }
}
.header--logo, .primary-nav {
  padding-top: rem(9);
  padding-bottom: rem(9);
  @include mq($px800) {
    padding-top: rem(18);
    padding-bottom: rem(18);
  }
}

.hideSearch svg {
  display: none;
}

.logo-link {
  width: rem(90);
  height: rem(22);
  display: inline-block;
  vertical-align: middle;
  margin: rem(2) rem(14) 0 0;
  .logo {
    height:100%;
  }
  .header:not(.header--compact) & {
    @include mq($px800) {
      width: rem(175);
      height: rem(42);
      margin-top: 0;
      margin-right: rem(20);
    }
  }
}
.papers-logo {
  float:left;
  background-color:$white;
  border-right:1px solid #ccc;
  padding: 0; 
}

.papers-logo a {
  display: block;
}

.papers-logo .inq-logo a {
   padding:rem(10) rem(8) 0 rem(8);
    @include mq($px800) {
    padding: rem(17) rem(16) 0 rem(16);
  }
  img {
    width: rem(70);
    height: rem(15);
    display: block;
    .header:not(.header--compact) & {
      @include mq($px800) {
        width: rem(106);
        height: rem(26);
      }
    } 
  } 
}

.papers-logo .dn-logo a {
   padding:0 rem(8) rem(10) rem(8);
    @include mq($px800) {
    padding: 0 rem(16) rem(15) rem(16);
  }
  img {
    width: rem(68);
    height: rem(12);
    display: block;
    padding-left: rem(2);
    .header:not(.header--compact) & {
      @include mq($px800) {
        width: rem(106);
        height: rem(26);
        margin-top: rem(-5);
        padding-left:0;
      }
    } 
  }   
}
/*
.papers-logo img {
  width: rem(70);
  height: rem(20);
  .header:not(.header--compact) & {
    @include mq($px800) {
      width: rem(110);
      height: rem(26);
    }
  } 
}
*/
/* Sponsored Content Longform */
.sponsor-label {
  display:none;
}
.sponsor-label-wrap {
  display:table;
  height:100%;
}
.sponsor-logo-wrap {
  display:table;
  height:100%;
}
.sponsor-logo {
  display: table-cell; 
  text-align:center; 
  vertical-align: middle;
}
.sponsor-logo img {
  height:1.875rem;
}
.sponsor-logo img {
  .header:not(.header--compact) & {
    @include mq($px800) {
        height: rem(50);
    }
  }
}
.sponsor-label {
  .header:not(.header--compact) & {
    @include mq($px800) {
      font-size: rem(12);
      display: table-cell; 
      text-align:center;
      color:#333333;
      vertical-align: middle;
    }
  }
}
/**
 * Header Icons (Search & Avatar)
 */
.header__icons {
  position: absolute;
  top: 0;
  right: 0;
  background: $white;
  padding-left: rem(8);
  box-shadow: rem(1) 0 rem(16) rem(16) $white;
  height: rem(46);
  path {
    fill: $black;
  }
  #signoutlink path {
    fill: $blue;
  }
  .header:not(.header--compact) & {
    @include mq($px800) {
      height: 100%;
      box-shadow: rem(1) 0 rem(50) rem(21) $white;
    }
  }
  // Menu is active
  .menu-is-active & {
    background-color: $black;
    path {
      fill: $white;
    }
  }
}
.header__icon {
  padding: rem(11) rem(6);
  top: 0;
  height: rem(46);
  position: relative;
}
.header--right-side {
  /*box-shadow: 13.063rem 1rem 0.125rem 50rem #fff;*/
  box-shadow: 0 0 0 rem(800) $white;
  float:right;
}
/**
 * Menu/Nav Toggling Action
 */
$menu-toggler-width: 25;
.menu-toggler {
  padding: rem(13);
  margin-left: rem(4);
  background-color: $gray-light;
  @include transform(rotate(0deg));
  cursor: pointer;
  height: rem(46);
  @include mq($px800) {
    padding-left: $pad;
    padding-right: $pad;
    .header:not(.header--compact) & {
      padding-top: rem(29);
      padding-bottom: rem(27);
      margin-left: rem(8);
      height: rem(78);
    }
  }
  span {
    display: block;
    position: absolute;
    height: rem(3);
    width: 100%;
    background-color: $gray-dark;
    border-radius: rem(4);
    opacity: 1;
    left: 0;
    @include transform(rotate(0deg));
    @include trans;
  }
  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2),
  span:nth-child(3) {
    top: rem(6);
  }
  span:nth-child(4) {
    top: rem(12);
  }
  .menu-is-active & {
    background-color: $black;
    span {
      background-color: $white;
    }
    span:nth-child(1) {
      top: rem(6);
      width: 0%;
      left: 50%;
    }
    span:nth-child(2) {
      @include transform(rotate(45deg));
    }
    span:nth-child(3) {
      @include transform(rotate(-45deg));
    }
    span:nth-child(4) {
      top: rem(6);
      width: 0%;
      left: 50%;
    }
  }
}
.menu-toggler--wrap {
  top: rem(-4);
  @include mq($px800) {
    top: rem(-3);
  }
}
.menu-toggler__spans {
  width: rem($menu-toggler-width);
  height: 0;
  top: rem(-8);
}
.menu-toggler__text {
  display: none;
  color: $black;
  margin-left: rem(12);
  @include mq($px800) {
    display: inline-block;
    vertical-align: middle;
    width: rem(50);
    margin-top: rem(8);
  }
  .off {
    display: none;
  }
  // Menu is active
  .content.menu-is-active & {
    color: $white;
    .off {
      display: inline-block;
    }
    .on {
      display: none;
    }
  }
}
.search-toggler, .divider, #signinlink { 
 .header:not(.header--compact) & {
    display: none;
    @include mq($px325) {
      display: inline-block;
    }
  }
}
 .menu-is-active #signinlink {
       display: inline-block !important;
 }
/*------------------------------------*\
    $PROGRESS INDICATOR
\*------------------------------------*/

.progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: rem(4);
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: $red;
  color: $red;
  z-index: 1000;
}
.progress::-webkit-progress-bar {
  background-color: $red;
}
.progress::-webkit-progress-value {
  background-color: $black;
}
.progress::-moz-progress-bar {
  background-color: $black;
}
