/*------------------------------------*\
    $ICONS
\*------------------------------------*/

.icon {
  display: inline-block;
}

.icon--standard {
  background-color: $gray-med;
  path {
    fill: $white;
  }
  &:hover {
    background-color: $blue;
    path {
      fill: $white;
    }
  }
}

/**
 * Badges
 */
.badge {
  display: inline-block;
  width: rem(30);
  height: rem(30);
  text-align: center;
}
.badge-overlay {
  position: absolute;
  right: rem(-10);
  bottom: rem(6);
  z-index: 10;
}

.icon--xs {
  width: $icon-xsmall;
  height: $icon-xsmall;
}
.icon--s {
  width: $icon-small;
  height: $icon-small;
  padding: rem(2);
}
.icon--m {
  width: $icon-medium;
  height: $icon-medium;
  padding: rem(3);
}
.icon--l {
  width: $icon-large;
  height: $icon-large;
  padding: rem(6);
}
.icon--xl {
  width: $icon-big;
  height: $icon-big;
  padding: rem(6);
}
// Make icons larger for touch devices.
.touchevents {
  .t-icon {
    width: rem(35);
    height: rem(35);
    padding: rem(4);
    &.add-pad {
      padding: $pad-half;
    }
  }
}

/**
 * Icon Label
 */
.icon__label {
  font-family: $font-secondary;
  font-size: rem(14);
  display: none;
  position: relative;
  left: 0;
  opacity: 1;
  font-weight: 400;
}
.sticky--active .icon__label {
  left: rem(-10);
  opacity: 0;
}

/**
 * Icon Overlay
 */
.icon-overlay {
  left: rem(8);
  bottom: rem(8);
  border-radius: rem(3);
  font-size: rem(10);
  padding: rem(5) rem(9);
  vertical-align: middle;
  background-color: rgba($black, .65);
  .icon {
    margin-right: rem(4);
  }
  span {
    vertical-align: middle;
  }
}


/*------------------------------------*\
    $SOCIAL SPECIFIC
\*------------------------------------*/

.icon__facebook {
  background-color: $facebook-blue;
  border: rem(3) solid $facebook-blue;
  path {
    fill: $white;
  }
  &:hover {
    background-color: $white;
    border-color: $facebook-blue;
    path {
      fill: $facebook-blue;
    }
  }
}
.icon__twitter {
  background-color: $twitter-blue;
  border: rem(3) solid $twitter-blue;
  path {
    fill: $white;
  }
  &:hover {
    background-color: $white;
    border-color: $twitter-blue;
    path {
      fill: $twitter-blue;
    }
  }
}
.icon__tumblr {
  background-color: $tumbler-navy;
  border: rem(3) solid $tumbler-navy;
  path {
    fill: $white;
  }
  &:hover {
    background-color: $white;
    border-color: $tumbler-navy;
    path {
      fill: $tumbler-navy;
    }
  }
}
.icon__instagram {
  background-color: $instagram-brown;
  border: rem(3) solid $instagram-brown;
  &:hover {
    background-color: $white;
    border-color: $instagram-brown;
    path {
      fill: $instagram-brown;
    }
  }
}
.icon__pinterest {
  background-color: $pinterest-red;
  border: rem(3) solid $pinterest-red;
  path {
    fill: $white;
  }
  &:hover {
    background-color: $white;
    border-color: $pinterest-red;
    path {
      fill: $pinterest-red;
    }
  }
}
.icon__reprint {
  background-color: $gray;
  path {
    fill: $white;
  }
  &:hover {
    background-color: $buybutton-blue;
    border-color: $buybutton-blue;
    path {
      fill: $white;
    }
  }
  &:hover > .label {
    color: $buybutton-blue;
  }
}
.icon__buybutton {
  background-color: $buybutton-blue;
  border: rem(3) solid $buybutton-blue;
  path {
    fill: $white;
  }
  &:hover {
    background-color: $white;
    border-color: $buybutton-blue;
    path {
      fill: $buybutton-blue
    }
  }
}
.icon__facebook,
.icon__twitter,
.icon__instagram,
.icon__pinterest,
.icon__buybutton {
  &.icon--s:hover {
    border-width: rem(2);
  }
}
.icon__plus {
  @include transition(transform .3s $cubic-bezier);
  @include transform(rotate(0deg));
  &:hover {
    @include transform(rotate(360deg));
  }
}
.icon__bolt {
  width: rem(9);
  height: rem(18);
  margin-right: rem(3);
}

/**
 * IE 9 Icons
 */
.icon__camera.icon--xs {
  vertical-align: middle;
  display: inline-block;
  height: rem(17);
}
