/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

/**
 * Newsletter
 */
.newsletter-subscribe {
  position: relative;
  .tl__trigger {
    margin-left: rem(22);
  }
}
#toggleSigninDivNewsletter input {
  margin: 0;
}
.sign-up-now {
  -webkit-appearance: none;
  border-radius: 0;
}
.nl__submit {
  position: absolute;
  right: -2px;
  top: 0;
  height: 100%;
  font-weight: 500;
  padding: $pad-half $pad;
}
.nl__options {
  margin-left: rem(14);
}
/**
 * Search
 */
.search-form {
  ::-webkit-input-placeholder {
     font-style: italic;
  }
  :-moz-placeholder {
     font-style: italic;
  }
  ::-moz-placeholder {
     font-style: italic;
  }
  :-ms-input-placeholder {
     font-style: italic;
  }
}
